<div class="footer">
    <ul>
        <li>
            <a routerLink="seller-auth">Vendedor</a>
        </li>
        <li>
            <a href="">Políticas</a>
        </li>
        <li>
            <a href="">Termos e Condições</a>
        </li>
        <li>
            <a href="">Central de Ajuda</a>
        </li>
        <li>
            <a href="">Novidades</a>
        </li>
        <li>
            <a href="">Facebook</a>
        </li>
        <li>
            <a href="https://www.instagram.com/salsicha3d/">Instagram</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
    </ul>
    <p>2024 Projeto Angular | glaucorodriguescb@gmail.com</p>
</div>